.mui-bar-nav{
	background-color: #3E3E3E;
	box-shadow: 0 0 0;
}
/*头部*/
.Header{
	background-color: #3E3E3E;
	overflow: hidden;
}
.logo img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin-left: 10px;
}
.title{
	color:white;
	position: relative;
	bottom: 25px;
	left: 8px;
}
.mui-icon-arrowright{
	color:white;
	float: right;
	position: relative;
	top: 13px;
}

/*三个文字区域 动态.关注.粉丝*/
.tfont{
	padding:10px;
	width: 100%;
}
.tfont span{
	color: #85817C;
	font-size: 13px;
	width: 33.33%;
	float: left;
	text-align: center;
	padding: 10px;
}
.tfont span label{
	color: white;
}

/*三个图标部分*/

.Nav div{
	background-color: white;
	float: left;
	width: 33.33%;
	text-align: center;
	position: relative;
	padding: 8px 0;
}
.Nav div span{
	font-size: 25px;
	font-weight: bold;
}
.iconshoucang{
	color: #F0B469;
}
.iconlishi{
	color: #EEC2CD;
}
.iconyejian{
	color: #CED1EC;
}

/*三个列表区域*/
.Body{
	margin: 75px 0 0 0;
}
.list2{
	margin-top: 10px;
}
.list3{
	margin-top: 10px;
}
/*红色数字角标*/
.list1 span{
	position: relative !important;
	top: 7px !important;
	left: 15px;
}

.list2 span{
	position: absolute;
	right: 30px;
	bottom: 10px;
	color: #C7C7C7;
}
.list3 span{
	color: white;
	width: 22px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	border-radius: 11px;
	float: left;
	background-color:#FEA500 ;
}









